.container{
    background: #FFFFFF;
border: 0.947917px solid #E4E6E8;
border-radius: 13.2708px;

padding: 1em;
}

.container img{
    width: 100%;
    height: 200px;
    border-radius: .8em;
}
.container img :hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container h3{
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 0.5em ;
}
.details ul{
    display: flex;
    padding-left: 1em;
    gap: 2em;
    font-size: 0.7em;
    color: #9A9EA7;
    margin-top: .5em;
    flex-wrap: wrap;
}
.listStyle{

border: 0.947917px solid #E4E6E8;
border-radius: 5px;
height: 2.5em;
width: 2.5em;
display: flex;
justify-content: center;
align-items: center;
}
.listStyle span{

    background: #316FB6;
    height: .8em;
width: .8em;
border-radius: 50%;
}
.address{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 1em;
}
.address h4{
    margin: 0em;
    font-size: 1em;
}
.address p{

    margin: 0.2em 0 0 0;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: -0.0947917px;

color: #9A9EA7;

}
.priceDetails{
    display: flex;
    align-items: center;
    margin-top: 1em;
    justify-content: space-between;
}
.priceDetails button{

background: #00CCFF;
border-radius: 5px;
padding: 0.5em 1em;
color: #FFFFFF;
border: none;
font-weight: 600;
font-size: .8em;
}
.priceDetails h4{
    margin: 0em;
    font-size: 0.9em;
}
.priceDetails p{
    margin: 0.2em 0 0 0;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: -0.0947917px;

color: #9A9EA7;

}

/* Tab styling */
@media screen and (max-width: 1200px) {
    .container{
        background: #FFFFFF;
    border: 0.947917px solid #E4E6E8;
    border-radius: 13.2708px;
    width: 90%;
    padding: 1em;
    }
    .container img{
        width: 100%;
        height: 200px;
    }
}
/* Mobile styling */
@media screen and (max-width: 450px) {
    .container{
        background: #FFFFFF;
    border: 0.947917px solid #E4E6E8;
    border-radius: 13.2708px;
    width: 90%;
    padding: 1em;
    }
    .container img{
        width: 100%;
   
    }
    .address h4{
        margin: 0em;
        font-size: 0.9em;
    }
    .address p{

        margin: 0.2em 0 0 0;
        font-weight: 400;
        font-size: 0.8em;
        letter-spacing: -0.0947917px;
    
    color: #9A9EA7;
    
    }
    .priceDetails{
        display: flex;
        align-items: center;
        margin-top: 1em;
        justify-content: space-between;
        gap: 1em;
    }
    .priceDetails button{

        background: #00CCFF;
        border-radius: 5.47917px;
        padding: 0.5em 1em;
        color: #FFFFFF;
        border: none;
        font-size: 0.8em;
        font-weight: 700;
        cursor: pointer;
        }
        .priceDetails button:hover{
            opacity: 0.5;
        }
        .priceDetails h4{
            margin: 0em;
            font-size: 0.8em;
        }
        .priceDetails p{
            margin: 0.2em 0 0 0;
            font-weight: 400;
            font-size: 0.6em;
            letter-spacing: -0.0947917px;
        
        color: #9A9EA7;
        
        }
}